.pageBanner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  
  position: relative;
  @include DeviceMaximum992 {
    min-height: auto;
  }
  &::before {
    content: "";
    background-color: #18181b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  .container {
    position: relative;
  }
  h1 {
    color: $colorPrimary;
    font-size: 24px;
    line-height: 2;
    margin: 0;
    text-align: center;
    font-weight: bold;
    @include DeviceMaximum576 {
      font-size: 20px;
      line-height: 44px;
      text-align: center;
    }
  }
  h6 {
    color: $colorPrimary;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    @include DeviceMaximum576 {
      margin-bottom: 2rem;
    }
  }
  .donation-form {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    margin-top: 6rem;
    margin-bottom: 6rem;
    @include DeviceMaximum992 {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    @media screen and (max-height: 850px) {
      margin-top: 7rem;
    }
    li.nav-item {
      flex: 0 0 33.33%;
      a {
        padding: 15px;
        @include DeviceMaximum768 {
          padding: 10px 0;
        }
      }
    }
  }
  input.form-control {
    min-height: 40px;
    padding: 5px 10px;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-size: 16px;
    color: $colorTertiary;
    border: 1px solid $colorPrimary;
  }
  .donation-amount {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0 2rem 0;
    @include DeviceMaximum576 {
      margin: 2rem 0;
    }
  }

  .donation-value {
    display: inline-block;
    label {
      background: $colorWhite;
      cursor: pointer;
      border: 1px solid $colorPrimary;
      display: block;
    }
  }

  label {
    font-size: 20px;
    font-weight: 500;
    @include DeviceMaximum576 {
      font-size: 16px;
      padding: 0 20px;
    }
  }

  .currency {
    width: 120px;
    text-align: center;
    @include DeviceMaximum576 {
      width: auto;
    }
  }

  input[type="radio"] {
    display: none;
    &:checked + label {
      background-image: $gradientOne;
      color: $colorWhite;
    }
  }
  .nav-tabs .nav-link {
    &:hover {
      background-color: rgba($colorSecondary, $alpha: 0.12);
      border: none;
    }
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link{
    background: rgba(#f2f2f2, $alpha: 0.5);
    &.active {
    color: $colorWhite;
    background-image: $gradientOne;
    border: none;
  }
  }
}
.donation-cards{
   padding: 7rem 0;
  @include DeviceMaximum768 {
    padding: 4rem 0;
  }
  .card {
    transition: all 0.5s;
    &:hover{
      background: #f7f7f7;
      transform: translateY(-5px);
    }
    .c-wrapper {
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 99%, 0 75%);
}
    @include DeviceMaximum992{
      margin-bottom: 3rem;
    }
    .card-body{
      position: relative;
      @include DeviceMinimum768{
        .link-one{
        position: absolute;
        bottom: 3rem;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
      }
      }
      @media screen and (min-width:768px) {
        height: 30rem;
      }
      @media screen and (min-width:992px) {
        height: 40rem;
      }
    @media screen and (min-width:1200px) {
      height: 34rem;
    }
    @media screen and (min-width:1400px) {
      height: 31rem;
    }
  }
  }
  .card-title{
    color: $colorPrimary;
    margin-bottom: 2rem;
  }
}

.what-we-do {
  padding: 0 0 7rem 0;
  @include DeviceMaximum768 {
    padding: 0 0 4rem 0;
  }

  @include DeviceMaximum992 {
    .row {
      flex-direction: column-reverse;
    }
    .content {
      margin-bottom: 30px;
    }
  }
  .devi-img{ 
    @include DeviceMinimum992 {
      padding-right: 5px;
    }
    img {
    border-radius: 1rem;
  }
}
  .dontaion-partner-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    gap: 3rem;
    @include  DeviceMaximum992{
      grid-template-columns: repeat(3, 1fr);
    }
    @include  DeviceMaximum768{
      grid-template-columns: repeat(2, 1fr);
    }
     @include  DeviceMaximum576{
      grid-template-columns: repeat(1, 1fr);
    }
    &__item{
      text-align: center;
    }
    img{
      width: 13rem;
      margin: auto;
    }
  }
}
.donation-raised {
  padding: 7rem 0;
  @include DeviceMaximum768 {
    padding: 4rem 0;
  }
  background-image: url("../img/bg-03.jpg");
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
  position: relative;
  &::before {
    content: "";
    background: #18181b;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
  }
  h2.fund-raised {
    color: $colorWhite;
    font-size: 90px;
    font-weight: 700;

    @include DeviceMaximum992 {
      font-size: 50px;
    }
    @include DeviceMaximum576 {
      font-size: 30px;
    }
  }
  h6 {
    color: $colorWhite;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
    padding: 10px 0;
    @include DeviceMaximum576 {
      font-size: 20px;
    }
  }
  p {
    color: $colorWhite;
    padding-bottom: 20px;
  }
}
.how-do-we-work {
  padding: 7rem 0;
  @include DeviceMaximum768 {
    padding: 4rem 0;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .devi-img {
    position: relative;
    @include DeviceMaximum992 {
      margin-top: 30px;
    }
    img {
      transition: all 0.5s;
      border-radius: 10px;
    }
    &:hover::after {
      left: 20px;
      top: 20px;
    }
    &:hover img {
      transform: translate(-10px, -10px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

      @include DeviceMaximum768 {
        transform: none !important;
      }
    }
    &::after {
      background: $colorYellow;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      z-index: -1;
      left: 0;
      position: absolute;
      border-radius: 10px;
      transition: all 0.5s;
      @include DeviceMaximum768 {
        content: none !important;
      }
    }
  }
}
.faq {
  padding-bottom: 7rem;
  @include DeviceMaximum768 {
    padding-bottom: 4rem;
  }
  button {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
    @include DeviceMaximum768 {
      font-size: 14px;
    }
    &:hover {
      background-color: rgba($colorSecondary, $alpha: 0.12);
    }
  }
  .accordion-button
  {
    &:not(.collapsed) {
    color: $colorWhite;
    background-image: $gradientOne;
  }
    font-size: 1.4rem;
    &::after {
      filter: sepia(2) brightness(2);
    }
  }
}
.child-donation{
  .child-donation-grid{
    display: grid;
    @include DeviceMinimum992{
      grid-template-columns: 60% 40%;
    }
    align-items: center;
    .child-donation-item{
      @include DeviceMinimum992{
        &:nth-child(2){
          padding-left: 50px;
          padding-right: 5rem;
        }
      }
      @include DeviceMaximum992{
        margin-top: 5rem;
        text-align: center;
      }
      .dontaing-img{
        position: relative;
        &::before{
          content: '';
    position: absolute;
    background: url(../img/about-banner-bg.png) no-repeat center center;
    background-size: 100% 100%;
    top: 0;
    left: -3px;
    width: 103%;
    height: 103%;
    z-index: 2;
        }
        img{
          width: 100%;
          @include DeviceMinimum992{
            height: 500px;
          }
          object-fit: cover;
          object-position: 100% 200%;
        }
      }
      h1{
        font-size: 27px;
    color: $colorPrimary;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
      }
      h2{
        font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: $colorPrimary;
      }
    }
  }
}

.donationone-form{
  background: #f5f6f9;
  margin-top: 7rem;
  padding: 7rem 0;
  @include DeviceMaximum768{
    margin-top: 4rem;
    padding: 4rem 0;
  }
  .alfa-input{
    @include DeviceMinimum768{
      display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 10px;
    }
    @include DeviceMinimum992{
      justify-content: space-between;
    }
    @include DeviceMaximum768{
      display: block;
      .f-input{
        &:not(:last-child){
          margin-bottom: 1rem;
        }
      }
    }
    .f-input{
      @include DeviceMinimum992{
        width: calc(100% / 7 - 10px);
      }
      position: relative;
      label{
        font-size: 15px;
    color: #2a2b6b;
    font-weight: 600;
    margin-bottom: 5px;
      }
      button{
        @include DeviceMinimum992{
          width: 100%;
        }
        @include DeviceMinimum768{
          margin: 0;
        }
      }
    }
  }
  .form-control{
    border: 1px solid #dcdee0;
    background: #fff;
    border-radius: 5px;
    color: rgba(42,42,42,.6);
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    &:focus{
      box-shadow: none;
      border-color: #dcdee0;
    }
  }
}
.donationone-form .form-control ~ span {
    position: absolute;
    top: 0px;
    @include DeviceMinimum768{
      left: -10px;
    }
    @include DeviceMaximum768{
      right: 20px;
    }
}

.generosity-section table {
    font-size: 16px;
    @media screen and (max-width: 768px) {
      font-size: 13px;
    }
    
}

.generosity-section table thead {
    background: $gradientOne;
}

.generosity-section table thead th.text-center {
    color: #fff;
}

.generosity-section table tbody tr td:first-child {
    border-right: 1px solid #e0e0e0;
    background: #e4ffe6;
}

.generosity.donate{
  background-image: url(../img/secondary-bg.jpg);
    position: relative;
    min-height: 39rem;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  padding: 7rem 0;
  &::before{
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container{
    position: relative;
  }
  .secondary-heading{
    color: $colorWhite;
  }
  @include DeviceMaximum768{
    margin-top: 4rem;
    padding: 4rem 0;
  }
  .generosity-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include DeviceMaximum768{
      grid-template-columns: repeat(1, 1fr);
    }
    .generosity-grid-item{
      background: $colorWhite;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .card{
        @include DeviceMaximum1200{
          text-align: center;
        }
        @include DeviceMinimum1400{
          height: 22rem;
        }
        @media screen and (min-width:1200px) and (max-width:1399.9px) {
             height: 25rem;
          }
        display: block;
        .left-img{
          height: 100%;
          @include DeviceMinimum768 {
            float:left;
          }
          @include DeviceMinimum1400{
            width: 25rem;
          }
          @media screen and (min-width:1200px) and (max-width:1399.9px) {
             width: 18rem;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .right-content{
          @include DeviceMinimum768 {
            float:right;
          }
          @include DeviceMinimum1400{
             width: calc(100% - 25rem);
          }
          @media screen and (min-width:1200px) and (max-width:1399.9px) {
             width: calc(100% - 18rem);
             padding: 15px 20px;
          }
          align-content: center;
          height: 100%;
          padding: 15px 25px;
          a{
            background: $gradientOne;
              color: $colorWhite;
              padding: 5px 15px;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 600;
    @include DeviceMinimum1200{
      font-size: 18px !important;
    }
            span{
              display: inline;
               @include DeviceMinimum1200{
      font-size: 18px !important;
    }
            }
          }

        }
      }
    }
  }
}