.work-with-us-form {
    position: relative;

    &::before {
        content: "";
        background-image: url(../img/bg2.jpg);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .partner-grid {
        display: grid;
        position: relative;
        grid-template-columns: 66.6666% 33.3333%;
        background: $colorWhite;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 3rem;

        &__item {
            &:nth-child(2) {
                background-image: url(../img/work-with-us-01.jpeg);
                background-repeat: no-repeat;
                background-size: inherit;
                background-position: top center;
                position: relative;

                &::before {
                    content: "";
                    background: #000;
                    opacity: 0.5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .content-para {
                    height: 100%;
                    display: grid;
                    place-content: center;
                    position: relative;

                    .donors {
                        margin: 30px 30px 30px 30px;
                        padding: 40px 40px 40px 40px;
                        background-color: #FFFFFF2B;
                        border-radius: 20px 20px 20px 20px;
                        backdrop-filter: blur(10px);

                        p {
                            color: $colorWhite;
                        }
                    }
                }
            }

            &:nth-child(1) {
                padding: 50px 25px 20px;
            }
        }

        .partnerwithus {
            .partner-row {
                margin-bottom: 2.5rem;
                @include DeviceMinimum768{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                    .partner-col {
                        flex: 0 0 calc(50% - 4px);
                        max-width: calc(50% - 4px);
                    }
                    .partner-col-full {
    flex: 0 0 100%;
    max-width: 100%;
}
                }

                input[type=file] {
                    font-size: 1.6rem!important;
//                     & + label {
//     background-image: $gradientOne;
//     padding: 1rem 1.5rem;
//     border-radius: 4rem;
//     color: $colorWhite;
//     width: 250px;
//     text-align: center;
//     cursor: pointer;
// }
                }

                // .partner-col {
                //     @include DeviceMinimum768 {
                //         &:first-child {
                //             float: left;
                //             width: calc(50% - 7.5px);
                //             margin-right: 7.5px;
                //         }

                //         &:last-child {
                //             float: right;
                //             width: calc(50% - 7.5px);
                //             margin-left: 7.5px;
                //         }
                //     }
                // }

                label {
                    font-size: 1.6rem;
                }

                .form-control {
                    padding: 10px 25px !important;
                    font-size: 16px;
                    border-radius: 30px !important;
                    border-color: transparent !important;
                    background-color: #ebf3f5 !important;
                }

                input[type="radio"],
                input[type="checkbox"] {
                    &:checked {
                        accent-color: $colorPrimary;
                    }
                }

                textarea {
                    resize: none;
                    height: 150px;
                }
            }

            .submit-row {
                margin-top: 2rem;
            }

            .intersted-grid,
            .organisation-grid, 
            .expertise-grid {
                display: grid;
            }

            .organisation-grid {
                grid-template-columns: repeat(3, 1fr);

                @include DeviceMaximum768 {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            .org-selection-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                @include DeviceMaximum768 {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            #otherinterst {
                display: none;
            }
        }
    }
}