.experience-section {
  margin-top: 7rem;
  .owl-item.active:not(.center){
    .col .card{
      background: #f2f2f2;
    }
  }
  .col {
    padding: 10px;
}
  .card .card-image {
    overflow: hidden;
    img.card-img-top {
      object-fit: cover;
      width: 200px;
    height: 200px;
    outline: 5px solid $colorWhite;
    margin: 50px auto;
    border-radius: 50%;
    }
  }
  .flag {
    text-align: center;
    margin-bottom: 20px;
    color: $colorPrimary;
  }

  .flag img {
    width: 50px !important;
    border-radius: 50%;
  }
  .card-text {
    text-align: center;
    color: $colorPrimary;
    @include DeviceMinimum1200 {
      min-height: 88px;
    }
  }

  
}
